<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Commande Page</title>
</head>
<body>
	<h1>Liste des types de graines</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Description</th>
				<!-- Ajoutez d'autres colonnes au besoin -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="typeDeGraine : ${typesDeGraines}">
				<td th:text="${typeDeGraine.id}">ID</td>
				<td th:text="${typeDeGraine.nom}">Nom</td>
				<td th:text="${typeDeGraine.description}">Description</td>
				<!-- Ajoutez d'autres colonnes au besoin -->
			</tr>
		</tbody>
	</table>
</body>
</html>