<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Form d'enregistrement</title>
</head>
<body>
	<h2>Form d'enregistrement</h2>
	<form action="#" th:action="@{/register}" th:object="${user}"
		method="post">
		<div>
			<label for="username">Nom :</label><br> <input type="text"
				id="nom" name="nom" th:field="*{nom}" required><br>
		</div>
		<div>
			<label for="username">Prénom :</label><br> <input type="text"
				id="prenom" name="prenom" th:field="*{prenom}" required><br>
		</div>
		<div>
			<label for="username">e-mail :</label><br> <input type="text"
				id="email" name="email" th:field="*{email}" required><br>
		</div>
		<div>
			<label for="password">Mot de passe :</label><br> <input
				type="password" id="password" name="password" th:field="*{password}"
				required><br>
		</div>
		<div th:if="${error}" style="color: red;">
            <span th:text="${error}"></span>
        </div>
		<button type="submit">Enregistrer</button>
	</form>
</body>
</html>
